body{
  background-color: aliceblue;
  --btn : #646681;
}
.heading{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 2%;
  color: var(--btn);
  font-weight: 700;
}
.layer{
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}
.btn-task{
  background-color: #646FF0;
  height: 50px;
  width: 200px;
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.select{
  width: 200px;
  background-color: #CCCDDE;
  color: var(--btn);
  cursor: pointer;
  padding-left: 1rem;
}
.modal{
  display: flex;
  flex-direction: column;
  gap:10px;
  
}
.modal-content {
  background-color: aliceblue;
}
.modal-title{
  text-transform: uppercase !important;
  margin-top: 2%;
  color: var(--btn) !important;
  font-weight: 700;

}
.close{
  background-color: #CCCDDE;
  color: var(--btn);
  font-weight: 500;
  border: none;
}
.close:hover{
  background-color: #CCCDDE;
  color: var(--btn);
  border:none;
}
.footer{
  display: flex;
  justify-content: flex-start;
}
.add{
  background-color: #646FF0;
  border: none;
}
.add:hover{
  background-color: #646FF0;
  border: none;
}
.todo{
  display: flex;
  justify-content: center;
}
.msges{
  width: 850px;
  min-height: 100px;
  margin-top: 2%;
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap:10px;
  background-color: #ecedf6;
}
.no-todo{
background-color: #dedfe1;
border-radius: 8px;
color: #585858;
font-size: 1.6rem;
font-weight: 500;
height: auto;
margin: 0 auto;
padding: .5rem 1rem;
text-align: center;
width: -webkit-max-content;
width: max-content;
}
.todos{
  background-color: white;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}
.name{
  display:flex;
  flex-direction: column;
  margin-top: 3%;
}
.todo-name{
  display: flex;
  gap:10px;
  padding-left: 4%;
  font-family: sans-serif;
}
.check{
  width: 3vw;
  height: 5vh;
  align-self: center;
}
.todo-buttons{
  display: flex;
}
.edit{
  margin-right: 20px;
  font-size: 25px;
  margin-top: 10px;
  color: #585858!important;
  cursor: pointer;
}
.checked{
  text-decoration: line-through;
}